.ggle{
    background: linear-gradient(90deg,mediumvioletred,blueviolet);
}
.ggl{
    background: linear-gradient(90deg,mediumvioletred,blueviolet);
    border-radius: 20px;
}.gg{
    border-radius: 20px;
}
.gga{
    background: linear-gradient(90deg,deepskyblue,blue);
}
.ggs{
    background: linear-gradient(90deg,orange,mediumvioletred);
}
.ggj{
    background: linear-gradient(90deg,mediumslateblue,#bee5eb);
}